VITE_API_URL=http://localhost:3000

# Dominio base de CDN para audios (Opcional)
# Si se define, cualquier pista 'cancion.mp3' se buscará en ${VITE_AUDIO_CDN_URL}/audio/cancion.mp3
# Si no se define, se resuelven localmente desde front/public/audio/{track}
# VITE_AUDIO_CDN_URL=https://cdn.tudominio.com
